<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Left</button>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div>


<!------ 生徒の登録フォーム---------->

<div class = "container">
	<div class="wrapper">

	<%= render 'error_messages', model: @student%>
		<%=form_with model:@student,local: true do |f| %>       
			<%= f.text_field :kana_name ,pattern:"[\u30A1-\u30F6]*" %><br>
			<%= f.text_field :name %><br>


			<%= raw sprintf(
				f.date_select(
					:birth_on,
					class:'select-birth',
					id:"birth-date",
					use_month_numbers: true,
					prompt:'--',
					start_year: (Time.now.year - 5),
					end_year: (Time.now.year - 120),
					date_separator: '%s'),
				"年", "月") + "日" %>
				<%= f.submit '登録する'%>
    </div>
		<% end %>			
	</div>
</div>
 
 <%= link_to 'ログアウト' ,destroy_user_session_path , method: :delete%>
 <!------ 生徒の一覧フォーム---------->


	<div class = "container">
		<h1>一覧表示</h1>
		<table class="table table-hover table-bordered text-center">
			<thead>
				<tr >
					<th class="text-center col-2">No </th >
					<th class="text-center col-3	">名前</th>
					<th class="text-center col-3	">読み方</th>
					<th class="text-center col-2">年齢</th>
					<th class="text-center col-2">学年</th>
				</tr>
			</thead>
			<tbody>
				<% @students.order('birth_on DESC').each_with_index do |student , index|%>
					<tr >
						<td ><%= index+1 %></td><td ><%= student.name %></td><td ><%= student.kana_name %></td><td><%= student.get_age%>歳</td><td><%= student.school_grade%></td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>



</body>