<div class = "container">
  <%= render 'shared/header'%>
  <h3 >生徒入会登録</h3>
	<%= render 'error_messages', model: @student%>

  <div class = "col-3">
		<%=form_with model:@student,local: true do |f| %>
			<label> フリガナ </label>		
			<%= f.text_field :kana_name ,pattern:"[\u30A1-\u30F6]*", class:"form-control"%><br>
			<label> 名前 </label>
			<%= f.text_field :name ,class:"form-control" %><br>
      <label> 生年月日 </label>

      <div class="mb-4 center-block">
			<%= raw  sprintf(
				f.date_select(
					:birth_on,
					class:'select-birth',
					id:"birth-date",
					use_month_numbers: true,
          
        	default: Date.today.beginning_of_month,
					start_year: (Time.now.year - 5),
					end_year: (Time.now.year - 120),
					date_separator: '%s'),
				" 年  "," 月  ") + " 日  " %>
      </div>
      <div class="actions mt-2 text-center">
        <%= f.submit "登録" ,class:"btn btn-lg btn-primary"%>
      </div>


		<% end %>			
  </div>

</div>
 

