詳細画面
<div class = "container d-flex">
  <div class=" col-4">
  <h1><%= @student.name%> </h1>

  <div class="mt-3"> 生年月日 : <%= @student.birth_on%></div>
  <div class="mt-2"> 年齢 :<%= @student.get_age%> </div>
  <div class="mt-2 mb-5"> 学年 :<%= @student.school_grade%></div>

		<%=form_with model:@student,local: true ,url: student_path(@student),method: :patch,class: 'mt-4' do |f| %>  
  
 			<%= raw sprintf(
				f.date_select(
					:withdrawal_on,
					class:'select-withdrawal',
					id:"withdrawal-date",
					use_month_numbers: true,
					prompt:'--',
					start_year: (Time.now.year + 1 ),
					end_year: (Time.now.year - 1),
					date_separator: '%s'),
				"年", "月") + "日" %>
        <%= f.submit '退会する'%>
    <% end %>
</div>
    <div class="mt-4 col-5"> お稽古
    		<table class="table table-hover table-bordered text-center ">
			<thead>
				<tr >
					<th class="text-center col-1">年月 </th >
					<th class="text-center col-2	">硬筆</th>
					<th class="text-center col-2	">毛筆</th>
				</tr>
			</thead>
			<tbody>
					<tr >
						<td >2019年5月</td>
						<td >３回</td>
						<td >２回</td>
					</tr>
          <tr >
						<td >2019年6月</td>
						<td >1回</td>
						<td >3回</td>
					</tr>
        	<tr >
						<td >2019年7  月</td>
						<td >2回</td>
						<td >2回</td>
					</tr>
			</tbody>
		</table>
    </div >

</div>