<div class = "container">
  <table class="table table-hover table-bordered text-center ">
    <thead>
      <tr >
        <th class="text-center">選択</th>
        <th class="text-center">1周目</th>
        <th class="text-center">2周目</th>
        <th class="text-center">3週目</th>
        <th class="text-center">4週目</th>

      </tr>
    </thead>
    <tbody>
      <%= form_with url: student_student_schedules_path(@student), local: true do |f| %>
        <% @schedules.each do |schedule| %>
          <tr > 
            <td > <%= f.radio_button :schedule_id, schedule.id %> </td> 
            <td > <%= schedule.one_week.name %> </td> 
            <td > <%= schedule.two_week.name %> </td> 
            <td > <%= schedule.three_week.name %> </td> 
            <td > <%= schedule.four_week.name %> </td> 
          </tr>
          <%end%>      
    </tbody>
  </table>
      			<%= raw sprintf(
				f.date_select(
					:birth_on,
					class:'select-birth',
					id:"started_on",
					use_month_numbers: true,
					prompt:'--',
					start_year: (Time.now.year - 5),
					end_year: (Time.now.year - 120),
					date_separator: '%s'),
				"年", "月") + "日" %>
        <%= f.submit '変更  '%>
      <% end %>    
</div >