<div class="border mt-2  border-top ">
    <h1> 作成中 </h1>
<% month_plans.each do |plan| %>
  <%= plan.name %>
  <%= plan.week %>
  <%= plan.st_time.strftime( "%H:%M" ) %>
  <%= plan.one_week_id %>
  <%= plan.two_week_id %>
  <%= plan.three_week_id %>
  <%= plan.four_week_id %>
  <br>
<% end %>

</div>


