<div class = "container">

<%= render 'shared/header'%>

<% @plans.each  do  |a|%>

  <%= a.student.name%>
  <%= a.time_table.week.name %>
  <%= a.time_table.st_time.strftime( "%H:%M" ) %>
  <%= a.started_on%>
  <br>

<% end %>


<%= month_calendar events:@ca_tables do |date,ca_tables|%>
  <%= date.day %>
  <% ca_tables.each do |ca_table|%>
    <% unless ca_table.count == 0 %>
      <div> <%= ca_table.name%> </div>
    <% end %>
  <%end%>
<% end %>


<div>