<div class = "container">
  <%= render 'shared/header'%>



  <%= month_calendar events:@plans do |date,ca_tables|%>
    <%= date.day %>
    <% ca_tables.each do |ca_table|%>
      <% unless ca_table.count == 0 %>
        <div class = "plan border bg-info text-white"> <%= ca_table.name%></div>
      <% end %>
    <%end%>
  <% end %>
  
  <%= render 'footer' ,month_plans:@month_plans%>
</div>