
<%= form_with(model: model, local: true) do |form| %> 
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        
        <th>週目</th>
        <th>曜日</th>
        <th>開始時間</th>
        <th>内容</th>
        <th>開始日</th>
      </tr>
    </thead>
    <tbody class="bulk-registration-form ">

      <%= form.fields_for :plans do |t| %>
        <%= render "plan_fields", f: t %>
      <% end %>

      <%= link_to_add_association '追加', form, :plans,class: 'btn btn-success',data: {
      association_insertion_node: '#detail-association-insertion-point',
      association_insertion_method: 'after'}%>
      <tr id="detail-association-insertion-point"> </tr>

    </tbody>
  </table>



  <div class="text-center">
    <%= form.submit '登録', class: 'btn btn-primary' %>

  </div>
<% end %>

